#user-table-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top:4rem;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
}

.table-header{
  display: flex;
  width: 90%;
  justify-content: end;
  align-items: center;
}

#user-table-card{

  min-width: 25rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(135, 135, 135, 0.3);


  position: relative;
  border-radius: 10px;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
}

#user-table {
  max-width: 50rem;
  width: 90%;
  border-collapse: collapse;  
  text-align: right;
}


#user-table thead tr th{
  font-size: 1.2rem;
  border-bottom: 2px solid;
}


#user-table thead,
#user-table tbody{
  color: #ffd3c7;
}

#user-table tbody tr td{
  border-bottom: 1px solid;

}

#user-table thead tr th,
#user-table tbody tr td{
  padding:0.8rem 1.5rem;
  text-align: start;
  text-transform: capitalize;
}

#user-table tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9rem;
}

#user-table tr button:hover i{
  scale: 1.2;
  transition: all 0.3s ease;
} 

#user-table tr button i,
#user-table tr button
{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#user-table tr button i.delete-btn,
#user-table tr button i.edit-btn{

  color: #8E625B;
  
  
}

#user-table tr div{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.add-user-data-btn{
  border: none;
  outline: 0;
  transition: all 0.5s ease;
  background: #ffd3c7;
  color: #8E625B;
  cursor: pointer;
  box-shadow: none!important;
}

.add-user-data-btn:hover{
  background: #ffbca9;
  color: #7f5751;
}



@media only screen and (max-width: 600px) {
    #user-table-card{
        min-width: 15rem!important;
        padding: 1rem 1.5rem !important;

    }


      #user-table thead tr th,
      #user-table tbody tr td{
        padding:0.8rem 1rem;
      }
      #user-table thead tr th{
        font-size: 0.9rem;
      }
      #user-table tbody{
        font-size: 0.7rem;
      }

}



